* {
  margin: 0;
  padding: 0;
}

body {
  /* Общая стилизация */
  font-family: sans-serif;
}

.top {
  height: 768px;
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__menu {
  padding-top: 42px;
  display: flex;
  justify-content: space-between;

}
.top__box{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top__info {
  padding-top: 115px;
  flex-direction: 1;
background-image: url(img/topbg.png );
background-repeat: no-repeat;
background-position: right center;
}

.container {
  width: 1140px;
  margin: 0 auto;
  
}

.middle__content__block {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  
}

.middle__content__block__element {

  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #FFFFFF;

  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;

}

.middle__content__block__heading {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  margin-bottom: 14px ;
}

.middle_img {
  align-self: center;
  margin-bottom: 51px;

}

.middle__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
  padding-top: 30px;
}

.middle__col {
  display: flex;
  justify-content: space-around;
}

.footer__feedback {
  width: 495px;
}


.foote__bottom {
  display: flex;
  justify-content: space-between;
}

.text {
  /* Стилизация параграфов */
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.text__first {
  width: 425px;
}

.text__middle_bottom {
width: 75%;
margin: 32px auto 64px;
text-align: center;
letter-spacing: 0.05em;
color: #222222;
opacity: 1;

}

.heading__first {
  /* Заголовки 1 уровня */
  font-size: 64px;
  color: #1F3F68;
  width: 510px;

  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;

  margin-bottom: 32px;
}

.Top__btn_btn{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;

  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;

  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.middle__content__middle{
  padding-top: 64px;
}

.bottom__top{

}

.bottom__parant{
display: flex;
justify-content: space-between;
margin-top: 32px;

}

.bottom__middle{
position: relative;
flex-grow: 1;

}

.bottom__top_img{
width: 100%;

}

.bottom__middle_marg{
  margin-right: 32px;
}

.bottom_text{
  font-size: 32px;
line-height: 46px;
text-align: right;
letter-spacing: 0.05em;
color: #FFFFFF;
position: absolute;
top: 64px;
right: 64px;
}

.bottom_text_dawn{
  font-size: 32px;
line-height: 46px;
text-align: right;
letter-spacing: 0.05em;
color: #FFFFFF;
position: absolute;

  top: 32px;
left: 32px;
}

.footer{
  background: #316099;
  height: 657px;
}

.footer__container{
}

.footer__text{
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
opacity: 0.6;  
}



.heading_second {
  /* Заголовки 2 уровня */
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.heading_third {
  /* Заголовки 3 уровня */
  font-size: 36px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.heading__bottom {
  width: 340px;
  font-size: 28px;
line-height: 46px;
letter-spacing: 0.05em;
color: #FFFFFF;
margin-top: 91px;
margin-left: 113px;
}

.heading_fourth {
  /* Заголовки 4 уровня */
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
}

.forms {
  /* Стилезация формы */
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.btn_submit {
  /* Кнопка отправить */
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
